<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Quiz</h3>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a href="#" *ngIf="isBlank() || isFinished()" (click)="start()">start</a>
        <span *ngIf="!isBlank() && !isFinished()">{{currentQuestion}} of {{totalQuestions}}</span>
        <span *ngIf="!isBlank() && !isFinished()">Time remaining: {{remainTimeLabel}}</span>
        <a href="#" *ngIf="!isBlank() && !isFinished()" (click)="stop()">stop</a>
      </li>
    </ul>
  </nav>

  <div id="content">
    <div *ngIf="isInProgress()">
      <slide-question [content]="question" (remain)="showRemainTime($event)"
        (answer)="processAnswer($event)"></slide-question>
    </div>
    <result *ngIf="isFinished()" [data]="testResult"></result>
  </div>
</div>
